* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  background-image: url("/assets/images/bodyimage.jpg");
}

.fas {
  font-size: 3rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 400;
  font-family: roboto, sans-serif;
  color: white;
}

.invisible {
  display: none !important;
}
.remove_from_view {
  transform: translateX(2000px);
  transition: all 1s;
}
.red-bucket {
  color: red;
}

#header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}
#header img {
  width: 100%;
  max-width: 14rem;
  height: 100%;
  max-height: 14rem;
  margin: 1rem 50%;
  transform: translateX(-50%);
}
.site_theme_toggle {
  font-size: 5rem;
  border: none;
  position: fixed;
  top: 4rem;
  right: 4rem;
  background-color: transparent;
}

main {
  /* align with fixed header */

  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 20rem 5px 0rem 5px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
main div:nth-child(2) {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
}

main label {
  font-size: 2rem;
  padding-left: 0.5rem;
  font-family: roboto, sans-serif;
  color: white;
}
.prio_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0rem;
}
.prio_container label {
  font-size: 1.7rem;
}
.prio_icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.prio_task_container {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.low_prio:checked:after {
  background-color: green;
}
.mid_prio:checked:after {
  background-color: #ffa500;
}
.high_prio:checked:after {
  background-color: red;
}

main input {
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #000;
  vertical-align: middle;
  font-family: roboto, sans-serif;
}

main button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: #fff;
  vertical-align: middle;
  font-family: roboto, sans-serif;
}
#form_container {
  padding-top: 0.5rem;
}
#form_container p {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-family: roboto, sans-serif;
  color: red;
}
.inner_task_holder {
  background-color: rgba(0, 0, 0, 0.25);
}

#tasks li {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  margin: 0.5rem 0;

  padding: 1rem;

  list-style: none;
  font-size: 2rem;
  font-family: roboto, sans-serif;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.inner-list {
  display: flex !important;
  justify-content: space-between;
}
.task_item_el {
  width: 100%;
  box-shadow: none !important ;
}
input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
}
.delete_task,
.edit_task {
  color: white;
  font-size: 3rem;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 1100px) {
  main {
    grid-template-columns: 1fr;
  }
}

.task_list_top_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task_list_top_part input {
  width: 3rem;
  height: 3rem;
}

.single_task_container {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 1rem;
  cursor: grab;
}

.task_actions {
  box-shadow: none !important;
}
.task_text {
  font-family: roboto, sans-serif;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.8rem;
  /* height: 100px */
  width: 100%;
  overflow-y: hidden;
  background-color: transparent;
  color: white;
}
.prio_text {
  color: white;
}
